*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.wrapper {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 1em 1em;
}

.button {
  --offset: 10px;
  --border-size: 2px;
  position: relative;
  padding: 1em 2em;
  color: #eeeeee;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.5rem;
  letter-spacing: 0.2em;
  font-weight: 500;
  box-shadow: inset 0 0 0 var(--border-size) #ff597b;
  transition: background-color 0.5s;
  cursor: pointer;
}
.button:hover {
  background-color: rgba(255, 89, 123, 0.1);
}
.button__horizontal, .button__vertical {
  position: absolute;
  top: var(--horizontal-offset, 0);
  right: var(--vertical-offset, 0);
  bottom: var(--horizontal-offset, 0);
  left: var(--vertical-offset, 0);
  transition: transform 0.6s ease;
  color: #ff597b;
}
.button__horizontal::before, .button__vertical::before {
  content: "";
  position: absolute;
  border: inherit;
}
.button__horizontal {
  --vertical-offset: calc(var(--offset) * -1);
  border-top: var(--border-size) solid #ff597b;
  border-bottom: var(--border-size) solid #ff597b;
}
.button__horizontal::before {
  top: calc(var(--vertical-offset) - var(--border-size));
  bottom: calc(var(--vertical-offset) - var(--border-size));
  left: calc(var(--vertical-offset) * -1);
  right: calc(var(--vertical-offset) * -1);
}
.button:hover .button__horizontal {
  transform: scaleX(0);
}
.button__vertical {
  --horizontal-offset: calc(var(--offset) * -1);
  border-left: var(--border-size) solid currentColor;
  border-right: var(--border-size) solid currentColor;
}
.button__vertical::before {
  top: calc(var(--horizontal-offset) * -1);
  bottom: calc(var(--horizontal-offset) * -1);
  left: calc(var(--horizontal-offset) - var(--border-size));
  right: calc(var(--horizontal-offset) - var(--border-size));
}
.button:hover .button__vertical {
  transform: scaleY(0);
}

.section {
  padding-bottom: 32px;
}
.section__heading {
  position: relative;
  margin: 2em 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
}
.section__heading::before {
  content: "";
  height: 3px;
  width: 15px;
  background-color: #ff597b;
  position: absolute;
  bottom: -5px;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-weight: 300;
}

.nav {
  display: none;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 1em 2em;
  background: rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(255, 89, 123, 0.5);
  border-left: 1px solid rgba(255, 89, 123, 0.5);
  border-right: 1px solid rgba(255, 89, 123, 0.5);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 0 0 8px 8px;
  z-index: 20;
}
.nav a {
  position: relative;
  margin: 0 1em;
  text-decoration: none;
  color: white;
  font-size: 1.6rem;
  text-transform: uppercase;
  overflow: hidden;
}
.nav a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -100%;
  height: 1px;
  width: 100%;
  background-color: #ff597b;
  transition: transform 0.3s;
}
.nav a:hover::before {
  transform: translateX(100%);
}

.nav-toggle {
  position: fixed;
  top: 15px;
  right: 15px;
  padding: 0.2em 0.2em;
  font-size: 2.5rem;
  color: #eeeeee;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  z-index: 20;
  cursor: pointer;
}

.section-front {
  position: relative;
  height: 100vh;
  background-image: url("../img/front-page-background.png");
  background-size: cover;
  background-position: 46%;
}
.section-front__shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 0;
}
.section-front__heading {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #eeeeee;
  text-transform: uppercase;
}
.section-front__heading h1 {
  font-size: 5rem;
}
.section-front__heading h1 .name {
  color: #ff597b;
}
.section-front__heading p {
  margin: 1em;
}
.section-front__heading a {
  margin-top: 5em;
}

.section-about__about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.section-about__about img {
  border: 1px solid #ff597b;
  margin: 2em 0;
  box-shadow: -10px 10px 0px 0px #f9b5d0;
}
.section-about__about .paragraphs {
  position: relative;
  padding: 1em 2em;
}
.section-about__about .paragraphs p {
  max-width: 600px;
  margin: 2em 1em;
}
.section-about__about .paragraphs::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 15px;
  height: 15px;
  border-top: 2px solid #ff597b;
  border-left: 2px solid #ff597b;
}
.section-about__about .paragraphs::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 15px;
  height: 15px;
  border-bottom: 2px solid #ff597b;
  border-right: 2px solid #ff597b;
}

.section-projects {
  height: 100vh;
}

@media (min-width: 768px) {
  html {
    scroll-padding-top: 64px;
  }
  .nav {
    display: flex;
  }
  .nav-toggle {
    display: none;
  }
  .section {
    padding-bottom: 32px;
  }
  .section-about__about {
    flex-direction: row;
  }
}/*# sourceMappingURL=main.css.map */