@media (min-width: 992px) {
	html {
		scroll-padding-top: 56px;
	}
	.nav {
		display: flex;
	}
	.nav-toggle {
		display: none;
	}
	.nav-mobile {
		display: none;
	}
	.front {
		&__heading {
			h1 {
				font-size: 5rem;
			}
		}
	}
	.section {
		padding-bottom: 32px;
	}
	.about {
		&__box {
			flex-direction: row;
		}
	}
	.projects {
		&__project {
			.wrapper {
				flex-direction: row;
			}
			&-text {
				display: flex;
				flex-direction: column;
				h1 {
					font-size: 4.8rem;
				}
				p {
					margin: 1em 0;
				}
			}
			&-action {
				align-self: center;
			}
		}
	}
}
