@media (min-width: 768px) {
	html {
		scroll-padding-top: 64px;
	}
	.nav {
		display: flex;
	}
	.navbar-toggler {
		display: none;
	}
	.section {
		padding-bottom: 32px;
	}
	.section-about {
		&__about {
			flex-direction: row;
		}
	}
}
