@media (min-width: 992px) {
	html {
		scroll-padding-top: 60px;
	}
	.nav {
		display: flex;
	}
	.nav-toggle {
		display: none;
	}
	.section-front {
		&__heading {
			h1 {
				font-size: 5rem;
			}
		}
	}
	.section {
		padding-bottom: 32px;
	}
	.section-about {
		&__about {
			flex-direction: row;
		}
	}
}
