@use 'reset';
@use 'colors' as *;
@use 'components';
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.6rem;
	font-weight: 300;
}
.nav {
	display: none;
	position: fixed;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	padding: 1em 2em;
	background: rgba(#000, 0.5);
	border-bottom: 1px solid rgba($primary, 0.5);
	border-left: 1px solid rgba($primary, 0.5);
	border-right: 1px solid rgba($primary, 0.5);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
	backdrop-filter: blur(5px);
	border-radius: 0 0 8px 8px;
	z-index: 20;
	a {
		position: relative;
		margin: 0 1em;
		text-decoration: none;
		color: white;
		font-size: 1.6rem;
		text-transform: uppercase;
		overflow: hidden;
		&::before {
			content: '';
			position: absolute;
			bottom: 0;
			left: -100%;
			height: 1px;
			width: 100%;
			background-color: $primary;
			transition: transform 0.3s;
		}
		&:hover::before {
			transform: translateX(100%);
		}
	}
}
.nav-toggle {
	position: fixed;
	top: 15px;
	right: 15px;
	padding: 0.2em 0.2em;
	font-size: 2.5rem;
	color: $white;
	border-radius: 8px;
	background: rgba(0, 0, 0, 0.4);
	border: 1px solid rgba($primary, 0.5);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
	backdrop-filter: blur(8px);
	z-index: 20;
	cursor: pointer;
}
.nav-mobile {
	position: fixed;
	right: -100%;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.6);
	backdrop-filter: blur(5px);
	transition: transform 0.5s;
	z-index: 15;
}
.show {
	transform: translateX(-100%);
}
.section-front {
	position: relative;
	height: 100vh;
	background-image: url('../img/front-page-background.png');
	background-size: cover;
	background-position: 46%;
	&__shadow {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.7);
		z-index: 0;
	}
	&__heading {
		position: relative;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		color: $white;
		text-transform: uppercase;
		h1 {
			font-size: 3.5rem;

			.name {
				color: $primary;
			}
		}
		p {
			margin: 1em;
		}
		a {
			margin-top: 5em;
		}
	}
}
.section-about {
	&__about {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		img {
			border: 1px solid $primary;
			margin: 2em 0;
			box-shadow: -10px 10px 0px 0px $secondary;
		}
		.paragraphs {
			position: relative;
			padding: 1em 2em;
			p {
				max-width: 600px;
				margin: 2em 1em;
			}
			&::before {
				content: '';
				position: absolute;
				left: 0;
				top: 0;
				width: 15px;
				height: 15px;
				border-top: 2px solid $primary;
				border-left: 2px solid $primary;
			}
			&::after {
				content: '';
				position: absolute;
				right: 0;
				bottom: 0;
				width: 15px;
				height: 15px;
				border-bottom: 2px solid $primary;
				border-right: 2px solid $primary;
			}
		}
	}
}
.section-projects {
	height: 100vh;
}
@import 'desktop';
